@import "../../style/Fix-sty/_color.css";
@import "../../style/Fix-sty/_gb-styling.css";

@font-face {
  font-family: "Acumin Pro Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Acumin Pro Bold"),
    url("../../assets/fonts/Acumin-BdPro.woff") format("woff");
}

@font-face {
  font-family: "Acumin Pro";
  font-style: normal;
  font-weight: normal;
  src: local("Acumin Pro"),
    url("../../assets/fonts/Acumin-RPro.woff") format("woff");
}

.Holder {
  display: grid;
  grid-template-columns: 0.5fr 8fr;
}

.card {
  display: grid;
  grid-template-columns: auto auto;
  max-width: 1300px;
  margin: auto;
  margin-right: 25px;
}

.ContH {
  background-color: rgb(0, 0, 0, 0.75);
  height: 100%;
  min-width: 400px;
  position: fixed;
  top: 0;
  z-index: -1000;
}

.maniHolder {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 100px;
  margin-left: 25px;
}

.img {
  margin-top: -120px;
  max-width: 170px;
  text-align: center;
}

.a {
  color: white;
  margin-top: -100px;
  margin-right: 25px;
  text-decoration: none;
  border-bottom: 1px solid var(--or);
  font-size: 1rem;
  max-width: fit-content;
  font-family: "Acumin Pro";
}

.TopText {
  margin: auto;
  text-align: center;
}

/*TopHeding*/
.InfoText {
  color: rgb(0, 0, 0, 0.75);
  font-weight: 600;
  font-size: 3rem;
  margin: 25px;
  font-family: "Acumin Pro Bold";
}

/*lov tekst*/
.LovInfo {
  margin: 25px auto;
  font-size: 0.8rem;
}

/*small nav*/
.overlay {
  display: none;
}

.Meny {
  display: grid;
  grid-template-columns: auto;
  background-color: var(--darkgray);
  position: absolute;
  right: 0;
  height: 100vh;
  width: 75%;
}

.sidbarbutton {
  position: relative;
  right: 10px;

  background-color: transparent;
  border: none;
  margin-top: -17px;
  font-size: 2rem;
  color: var(--or);
  font-weight: 900;
}

.Sidea {
  color: white;
  text-align: right;
  text-decoration-color: var(--or);
  margin: auto;
  font-size: 1rem;
  max-width: fit-content;
  font-family: "Acumin Pro";
}

.imgS {
  max-width: 170px;
  text-align: center;
}

@media only screen and (min-width: 1727px) {
  .Meny {
    display: none;
  }
}

@media only screen and (max-width: 1727px) {
  .Holder {
    grid-template-columns: 1fr;
    margin: auto;
  }

  .card {
    grid-template-columns: 1fr;
    margin-right: auto;
  }

  .LayoutHolder {
    position: none;
  }

  .navHolder {
    display: none;
  }

  .LayoutHolder {
    width: 100%;
  }

  .overlay {
    display: block;
    background-color: rgb(0, 0, 0, 0.75);
    position: relative;
    top: 0;
    left: 0;
    height: 2rem;
    padding: 15px;
  }

  .overHolder {
    display: grid;
    grid-template-columns: 2fr auto;
    margin: 15px auto;
  }
}
@media only screen and (max-width: 320px) {
  .Meny {
    width: 70%;
  }

  .overlay {
    display: block;
    background-color: rgb(0, 0, 0, 0.75);
    width: auto;
    position: relative;
    margin: auto;
    top: 0;
    left: 0;
    height: 2rem;
    padding: 15px;
  }

  /*TopHeding*/
  .InfoText {
    text-align: center;
    color: rgb(0, 0, 0, 0.75);
    font-weight: 600;
    font-size: 1rem;
    margin: 25px;
    font-family: "Acumin Pro Bold";
  }

  .card {
    grid-template-columns: 1fr;
    margin-right: auto;
  }
}
