@import '../../style/Fix-sty/_color.css';
@import '../../style/Fix-sty/_gb-styling.css';


.Holder{
    display: grid;
    grid-template-columns: 0.5fr 5fr;
   
}




.LayoutHolder{
    min-width: 1200px;
    margin: auto;
    background-color: var( --Lite-Lite-gray);
    
    padding: 15px;
    border-radius: var( --br-big);

    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);


}



